---
import Referencelanding from "../components/Referencelanding.astro";
import Mainlayout from "../layouts/Mainlayout.astro";
import { Image } from "astro:assets";

import ebilledeEt from "../assets/262-unsmushed.jpg"
---
<Mainlayout title="Referencer - JT Anlæg">
  <Referencelanding />
  <p>Her på siden kan du se billeder af nogle af de privat- og erhvervsopgaver, vi har udført for vores tilfredse kunder. Opgaverne spænder bredt, og de er udført med fokus på den enkelte kundes behov.<br><br>
    Skal du være den næste tilfredse kunde i vores portefølje?
  </p>
  <h2>Erhverv</h2>
  <div class="grid">
    <Image src={ebilledeEt} alt="" width="1000" height="1000" />
    <Image src={ebilledeEt} alt="" width="1000" height="1000" />
    <Image src={ebilledeEt} alt="" width="1000" height="1000" />
    <Image src={ebilledeEt} alt="" width="1000" height="1000" />
    <Image src={ebilledeEt} alt="" width="1000" height="1000" />
    <Image src={ebilledeEt} alt="" width="1000" height="1000" />
    <Image src={ebilledeEt} alt="" width="1000" height="1000" />

  </div>
  <ul>
    
  </ul>
  <h2>Privat</h2>
  <div class="grid">
    <Image src={ebilledeEt} alt="" width="1000" height="1000" />
    <Image src={ebilledeEt} alt="" width="1000" height="1000" />
    <Image src={ebilledeEt} alt="" width="1000" height="1000" />
    <Image src={ebilledeEt} alt="" width="1000" height="1000" />
    <Image src={ebilledeEt} alt="" width="1000" height="1000" />
    <Image src={ebilledeEt} alt="" width="1000" height="1000" />
    <Image src={ebilledeEt} alt="" width="1000" height="1000" />

  </div>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

</Mainlayout>

<style>
  .grid {
    display: grid;
    grid-template-columns: minmax(1fr, 1000px);
    gap: 1rem;
    padding-inline: 2rem;
    place-content: center;
  }

  
  @media (min-width: 720px){
    .grid {
      grid-template-columns: repeat(3, minmax(auto, 1000px));
    }
  }

  p {
		max-width: 65ch;
		padding-inline: 2rem;
		align-self: center;
		padding-bottom: 2rem;
	}

  img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
    cursor: pointer;
  }

  div.grid:nth-child(7) {
    margin-block-end: 2rem;
  }
</style>

<script>
  const lightbox = document.createElement('div');
  lightbox.id = 'lightbox';
  document.body.appendChild(lightbox);

  const container = document.querySelector('main');
  console.log(container);
  const images = container.querySelectorAll('img');
  console.log(images);

  images.forEach(image => {
    image.addEventListener('click', e => {
      lightbox.classList.add('active');
      const img = document.createElement('img');
      img.src = image.src;
      while (lightbox.firstChild) {
        lightbox.removeChild(lightbox.firstChild)
      };
      lightbox.appendChild(img);
    });
  });

  lightbox.addEventListener('click', e => {
    if (e.target !== e.currentTarget) return
    lightbox.classList.remove('active');
  });
</script>